
button.login-button
{
    background-color: #1e7e34;color: white;cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

button.login-button:hover
{
    background-color: #0b2e13;
}

button.facebook-button
{
    background-color:#3B5998;color: white;cursor: pointer;
    border: none;
}

button.facebook-button:hover  {
    background-color:#1F4696;
}

button.google-button
{
    background-color:#DD4B39;color: white;cursor: pointer;
    border: none;
}

button.google-button:hover
{
    background-color:#dd2e18;
}

button
{
    width: 100px;
    height: 40px;
    margin-right: 20px;
}

.login-signup-center
{
    text-align: center;
}

.login-signup-center-error
{

    text-align: center; margin-bottom: 10px;
}

.login-signup-button-center
{
    display: flex;justify-content:center;
}

h4.link{
    color:black;

}

h4.link:hover
{
    color: #1F4696;
    cursor: pointer;
}

.paginate-center
{
    display: flex;
    justify-content: center;
}

.activate
{
    background-color: #b0b435;

}

.activate
{
    font-weight: 400;
    background: #b0b435;
    margin: 0px 5px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.activate a
{
    color: rgb(255, 255, 255);
}
.li-paginate
{
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin: 0px 5px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}


.li-paginate:hover
{
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin: 0px 5px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    background-color: #C3E7FE;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}


.error
{
    display: inline-block; color:red;
}

.success
{
    display: inline-block; color:green;
}


.dropbtn {
  background-color: #000000;
  color: white;
  border: none;
  font-size: 16px;
}

.dropbtn::before
{
    content: "\f007";
    margin-right: 5px;
    font-family: "Font Awesome 5 Free";
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 9999;
   right:0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#000000;}


.login-recover-signup
{
    float:left;color: #1e7e34; font-size:16px; font-weight: 700;
}

.login-recover-signup:hover
{
    color: #0b2e13;
}