
button.login-button
{
    background-color: #1e7e34;color: white;cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

button.login-button:hover
{
    background-color: #0b2e13;
}

button.facebook-button
{
    background-color:#3B5998;color: white;cursor: pointer;
    border: none;
}

button.facebook-button:hover  {
    background-color:#1F4696;
}

button.google-button
{
    background-color:#DD4B39;color: white;cursor: pointer;
    border: none;
}

button.google-button:hover
{
    background-color:#dd2e18;
}

button
{
    width: 100px;
    height: 40px;
    margin-right: 20px;
}

.login-signup-center
{
    text-align: center;
}

.login-signup-center-error
{

    text-align: center; margin-bottom: 10px;
}

.login-signup-button-center
{
    display: flex;justify-content:center;
}

h4.link{
    color:black;

}

h4.link:hover
{
    color: #1F4696;
    cursor: pointer;
}

.paginate-center
{
    display: flex;
    justify-content: center;
}

.activate
{
    background-color: #189EFF;

}

.activate
{
    font-weight: 400;
    background: rgb(24, 158, 255);
    margin: 0px 5px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.activate a
{
    color: rgb(255, 255, 255);
}
.li-paginate
{
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin: 0px 5px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}


.li-paginate:hover
{
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin: 0px 5px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    background-color: #C3E7FE;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}


.error
{
    display: inline-block; color:red;
}

.success
{
    display: inline-block; color:green;
}

