<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Đăng kí</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Đăng kí</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<form>
    <div class="cart-box-main" style="background-color: #111111">
        <div style="height: 39rem; background-color: #111111;display: flex;justify-content:center">
            <div style="width: 700px;height: 750px;background-color: #F3F3F3; padding-top: 40px;">
                <div class="login-signup-center"><h1>ĐĂNG KÍ</h1></div>
                <div class="login-signup-center"><input type="text" name="name" id="name-signup" placeholder="Họ và tên của bạn" style="width: 500px"></div>
                <div class="login-signup-center"><input type="text" name="phone" id="phone-signup" placeholder="Số điện thoại" style="width: 500px"></div>
                <div class="login-signup-center"><input type="text" name="email" id="email-signup" placeholder="Địa chỉ email" style="width: 500px"></div>
                <div class="login-signup-center"><input type="password" name="password-signup" id="pass-signup" placeholder="Password" style="width: 500px"></div>
                <div class="login-signup-center">
                    <select name="gender" style="width: 500px">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                    </select>
                </div>
                <div class="login-signup-center">
                    <input type="date" name="birthday" id="birthday-signup" style="width: 500px">
                </div>

                <div class="login-signup-button-center">
                    <button class="login-button">Đăng kí</button>
                </div>

                <div class="login-signup-center">
                    <p style="display: inline-block">Bằng việc đăng kí, bạn đã đồng ý với shop về </p>
                    <p style="color:red;display: inline-block;">Điều khoản dịch vụ</p>
                    <p style="display: inline-block;">&</p>
                    <p style="color: red;display: inline-block;">Chính sách bảo mật</p>
                </div>

                <div class="login-signup-center" style="margin-top: -25px">
                    <p>Đã có tài khoản ?</p>
                    <a href="login">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</form>