<div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>VỀ CHÚNG TÔI</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">VỀ CHÚNG TÔI</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="images/about-img.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">Chúng tôi là <span>Bookstore</span></h2>
                    <p>Là những người yêu sách, chúng tôi muốn mang sách đến cho mọi người. Bookstore là nơi mọi người có thể tìm cuốn sách yêu thích của mình một cách dễ dàng.</p>
                    <p>Được ra đời từ năm 2010 từ nhóm 3 Web Developer. Trải qua 10 năm hoạt động chúng tôi đã tạo được nhiều sự tin tưởng từ khách hàng. Các dịch vụ của website luôn được chúng tôi hoàn thiện từng ngày để có thể mang lại cho khách hàng những trải nghiệm tốt nhất. <p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Chúng tôi được tin tưởng</h3>
                        <p>Với kinh nghiệm làm việc với nhiều người, chúng tôi nhận được sự tin tưởng của nhiều người </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Chúng tôi chuyên nghiệp</h3>
                        <p>Với hơn 10 năm kinh nghiệm, chúng tôi có sự chuyên nghiệp trong công việc </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Chúng tôi là chuyên gia</h3>
                        <p>Chúng tôi đều là chuyên gia trong lĩnh vực sách </p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Gặp team chúng tôi</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/blong.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Cam Quốc Bảo Long</h3> <span class="post">Web Developer</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/loc.png" alt="" />
                            <div class="team-content">
                                <h3 class="title">Trần Đức Lộc</h3> <span class="post">Web Developer</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/hlong.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Phạm Hoàng Long</h3> <span class="post">Web Developer</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>